h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.linkerRout{
  display: flex;
  justify-content: center;
  margin: 25px;

}
a{
  font-size: 35px;
  color: #60758a;
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  background-color: #242424;
  margin: 0;
  padding: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
h1 {
  text-align: center;
  color: #444;
}
.result {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
}
.result strong {
  color: #007bff;
}
.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-section input {
  width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: medium;
}
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3b4754;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #0d233a;
}
canvas {
  margin-top: 20px;
  max-width: 100%;
}
.results {
  margin-top: 20px;
}
.shooter-info {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
  margin-bottom: 10px;
}
.highlight {
  border: 3px solid green;
  animation: highlightAnimation 1s ease-in-out infinite alternate;
}

@keyframes highlightAnimation {
  from {
      box-shadow: 0 0 10px 2px rgba(0, 255, 0, 0.5);
  }
  to {
      box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.8);
  }
}